<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KALO internal homepage</title>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/g/4/g4f7j9woyc.ico"/>
    <style>
    .body1 {background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
            url(https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/9d/fd/51/9dfd5197-9f62-45f8-b280-2117512b8f76/AppIcon-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/246x0w.jpg);
            }
    </style> 
  </head>
  

  <body class="body1">
    <center>
      <p style="font-size:24px;position:relative;top:120px;">Go to sales recommendation website
      <a href="./sales"><input type="button" name="Submit" onclick="./sales" value=' GO ' style="font-size:18px;background:#ECF5FF;border-color:lightblue;border-radius:15px;box-shadow:0 1px white inset;"></a>
      </p>
    </center>
  </body>

</html>